body{
	background-color: #D5F2F2;
}

h1 { 
	font-family: 'Raleway'; 
	font-size: 30px; 
	font-style: bold; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
}

h2 { 
	font-family: 'Raleway'; 
	font-size: 26px; 
	font-style: bold; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
}

p { 
	font-family: 'Raleway'; 
	font-size: 18px; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
}

label { 
	font-family: 'Raleway'; 
	font-size: 18px; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
}


#myDownload{
	float:bottom;
}

.myInput{
	height: 30px;
}

.myButton {
	box-shadow: 0px 0px 6px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	padding:32px 20px;
	text-decoration:none;
	text-shadow:0px 1px 48px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

div {
  margin-bottom: 10px;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}